/*大型设备*/
@media (min-width: 1200px) {
	.container{
		width: 1200px !important;
	}
}
@media (max-width: 992px){
	.site-top{top: 0px !important;}
	.site-nav{position: relative !important; margin-bottom: 100px;}
	#bootstrap-touch-slider{margin-top: 2px; }
}
@media (max-width: 940px) {
     .rm-nav>ul>li{margin-bottom: 4px; }
    #bootstrap-touch-slider{margin-top: 180px !important; }
}
@media (max-width: 768px) {
	.site-nav{top:13.2em !important; margin-bottom: 220px; }
     #bootstrap-touch-slider{margin-top: 2px ; }
	.logo h3{padding-top: 0.2em !important;}
}
.container{
	padding-left: 0;
	padding-right: 0;
}

/*加载进度*/
#progress {
    position:fixed;
    height: 2px;
    background:#BE1E2D;
    top: 0;
    z-index: 1000;
    transition:opacity 500ms linear
}
#progress.done {
    opacity:0
}

/*顶部*/
.site-top{z-index: 100; position: absolute; top: 3.2em; width: 100% !important;}
.site-top-container{margin: 0 auto; max-width: 1310px;}
.logo img{height: 4.4em;}
.logo h3{padding-top: 1.2em;color: #0d3371;padding-left: 0.8em;font-size: 16px;}
.logo-img-2{height: 3.5em!important;margin-left: 1em;}
.search{position: relative;}
.search input{width: 100%; outline: none;background-color:transparent;color: #444;height: 2.6em;padding-left: 1em;border: 0.15em solid #0d3371;border-radius: 1.5em;margin-top: 2em;padding-right: 3em;transition: all 0.3s;}
.search input:focus{box-shadow: 0px 0px 1em rgba(0, 0, 0, 0.6);}
.search-button{position: absolute;width: 3em;height: 2.6em;right: 0em;top: 1.9em;cursor: pointer;border-bottom-right-radius: 1.5em;border-top-right-radius: 1.5em;text-align: center;}
.search i{font-size: 2em;color: #0d3371;}

/*导航栏*/
.site-nav{z-index: 100 !important; position: absolute; top: 10.6em; width: 100%; border-radius: 4px; background: rgba(13, 51, 113, 0.8); box-shadow: 0px 0px 10px rgba(4, 4, 4, 0.4);}
.site-nav-fixed-top{position: fixed !important; top: 0px !important;}
.rm-container{margin-right: -2em; padding-right: 0em;}
.wrapper{max-width: 1210px !important; }
.rm-nav>ul>li{margin-right: 4px; }
.rm-nav li:hover .fa-angle-down{display: none;}
.rm-nav li:hover .fa-angle-up{display: inline;}
.rm-menu-item .rm-menu-item a:hover{color: white !important;}
.rm-nav .active{background: white !important; }
.rm-nav .active>a{color: #0d3371 !important}
.rm-nav li.active ul li.active a{background-color: #0d3371 !important}
.rm-nav li.active ul li.active a{color: white !important}

/*网页脚部*/
.site-footer{
	background-color: #0e2335;
	background-image: url(../img/bgImgFooter.png);
}
.max1000{
	max-width: 1000px;
}
.footer-friendlylink{
	float: left;
	width: 86%;
}
.site-footer .nav-group {
    margin-top: 5%;
    float: left;
    color: #777;
    width: 20%;
    padding-right: 2em;
}
.site-footer .nav-group h4 {
    color: #AABDBD;
    margin-bottom: 1.5em;
    font-size: 1.4em;
    border-bottom: 2px solid #AABDBD;
    padding-bottom: 1em;
}
.site-footer .nav-group>li {
    margin-bottom: 20px;
}
.site-footer .nav-group>li>a {
    -webkit-transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
    text-decoration: none;
    color: #777;
}
.site-footer .nav-group>li>a:hover{
	color: #fff;
}
.site-footer .nav-group:last-child{
	clear: both;
	width: auto;
}
.site-footer .nav-group:last-child li{
	float: left;
}
.site-footer .nav-group:last-child li img{
	height: 4em;
	margin-right: 2em;
}
.footer-QRcode{float: right;width: 14%;margin-top: 5%;text-align: right;}
.footer-QRcode img{width: 100%;margin-bottom: 15%;}


/*侧飘*/
.floatfile{position: absolute; width: 60px; height: auto;right: 20px;z-index: 9999;  background: rgba(0,0,0,0.25); box-shadow: 0px 0px 4px rgba(0,0,0,0.4);}
.floatfile a{display: block; width: 100%; height:80px; color: white; text-align: center; transition: all 0.5s; position: relative;}
.floatfile a:hover{text-decoration: none; color: #FF6600; background: rgba(0,0,0,0.6);}
.floatfile a span{display: block; width: 100%; height: 60px; line-height: 60px ; font-size: 32px;}
.free-phone{position: absolute; width: 200px; height: 80px; right: 60px; top: 0; background: rgba(0,0,0,0.6); padding: 4px 8px; display: none; transition: all 0.5s;}
.free-phone input{margin-top: 4px;}
.floatfile a:hover .free-phone{display: block;}