body{
	position: relative;
}
@media (max-width: 992px){
	.site-top{top: 0px !important;}
	.site-nav{position: relative !important; margin-bottom: 100px;}
	#bootstrap-touch-slider{margin-top: 2px !important; } 
}
@media (max-width: 768px) {
	.site-nav{top:13.2em !important; margin-bottom: 200px; }
	.logo h3{padding-top: 0.2em !important;}
}

/*轮播*/
#bootstrap-touch-slider{z-index: 1;position: relative;}
.bs-slider-overlay{background-color: rgba(0, 0, 0, 0.04) !important;}


/*版权标题通用*/
.index-block-en-title{padding-top: 70px; color: #444;}
.index-block-cn-title{font-size: 20px; line-height: 14px; color: #444;}
.index-block-cn-title b{display: block;width: 60px; background:#be1e2d; height: 2px; margin: 0 auto; margin-top: 16px;}
.show_more{width: 100%; margin-top: 60px;}
.show_more button{transition: all .5s;width: 100px;display: block; margin: 0 auto;height: 40px; text-align: #be1e2d; color: #be1e2d; border: 1px solid #be1e2d; border-radius: 4px; background: white;}
.show_more button:hover{font-size: 16px;background: #be1e2d; color: white; box-shadow: 0px 0px 0.3em rgba(0, 0, 0, 0.6); }

/*关于我们*/
.site-aboutus .aboutus-content{text-indent: 2em; line-height: 2em; margin-top: 50px; padding:0 10px;}


/*公司视频*/
.site-video{width: 100%; height: auto; background: transparent; transition: all .5s; margin-top: 75px; overflow: hidden; position: relative;}
.video-content-bg{position: absolute; transition: all .2s;z-index: -1;top: 0; left: 0; width: 100%; height: 100%; -webkit-filter: blur(6px);-moz-filter: blur(6px);-o-filter: blur(6px);-ms-filter: blur(6px);filter: blur(6px);background-repeat: no-repeat;background-position: center;background-size: cover;}
.video-content{margin-top: 20px;}
.video-item{margin-top: 10px; margin-bottom: 60px; }
.video-item .video-item-content{max-width: 400px; margin: 0 auto; height: 20em; position: relative; cursor: pointer; transition: all .2s; overflow: hidden;}
.video-item .video-item-content i{font-size: 40px; position: absolute; top:50%; left: 45%; color: white;}
.video-item-content-title{height: 5em; padding-bottom: 1em;color: white; transition: .2s;}
.video-item-content-title h3{font-size: 16px; }
.video-item-content-title span{display: block; width: 40px; height: 4px; background: white; border-radius: 2px; margin: 0 auto; transition: all .5s;}
.video-item .video-item-content img{height: 15em; transition: all .2s;}

.video-item .video-item-content:hover {box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);}
.video-item .video-item-content:hover i{display: inline;}
.video-item .video-item-content:hover .video-item-content-title{background: white; color: #444;}
.video-item .video-item-content:hover .video-item-content-title span{width: 80px; background: #444;}
.video-item .video-item-content:hover img{transform: scale(1.1);}


/*产品介绍*/
.site-product{padding-bottom: 40px; }
.product-content{margin-top: 60px;}
.product-content-item { position: relative;width: 300px; height: 340px;  border-radius: 10px;margin: 0 auto; margin-bottom: 10px; overflow: hidden; cursor: pointer; transition: all .2s;}
.product-content-item img{width: 100%; height: 100%; transition: all .2s; z-index: 1; position: absolute;}
.product-content-item h4{text-align: center;background: rgba(255,255,255,0.6); height: 100px; line-height: 100px;transition: all .4s;z-index: 6;  font-size: 24px; position: absolute; left: 0; top: 32%; width: 100%;display:block; color: #444; padding-bottom: 4px;}
.product-content-item p{display: block;margin: 0;background: rgba(0, 0,0,0.4); position: absolute; z-index: -1; width: 100%; height: 100%;left: 0;top: 0; transition: all .4s;}
.product-content-item span{z-index: -1; display: inline-block;position: absolute; top: 60px; left: 12px; right: 12px;transition: all .4s;text-indent: 2em; color: white; }
.product-content-item:hover img{transform: scale(1.1);}
.product-content-item:hover{box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);}
.product-content-item:hover h4{ top: 6px; left: 6px; font-size: 16px;color: white;border-bottom: 4px solid white; font-weight:bold;height:30px; line-height: 20px; background: transparent; width: auto;display: inline-block;text-align: left;}
.product-content-item:hover span{z-index: 6;}
.product-content-item:hover p{z-index: 4;}

/*新闻中心*/
.site-news{background: transparent url(../img/bgImg.png) repeat; padding-bottom: 40px; }
/* slide */
.slide,.slide li{height:350px;background-color:#fbfbfb;}
.slide{overflow:hidden;position:relative; margin-top: 60px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);}
.slide li{position:absolute;overflow:hidden;display:none; left: 0; top: 0;width: 100%;}
.slide li.current{display:block;}
.slide li .image{position:absolute;top:0px;left:0px; width: 70%; height: 350px;}
.slide li .text{bottom:0;overflow:hidden;background-color:rgba(0,0,0,0.6);width:30%;float:right;position:relative;height:auto;background:0;filter:none;text-indent:0;padding:16px 10px;text-overflow: ellipsis;overflow: hidden;}
.slide li .text a{color:#fff;font-size:14px;line-height:17px;float:left;}
.slide li img{width:100%;height:100%; }
.slide li .text .title a{font-size:16px;font-weight:700;color:#000;line-height:22px;text-indent:0;float:none;display: inline-block; width: 100%; text-align: center;}
.slide li .text p{color:#888;font-size:12px;text-indent:0;clear:both;line-height:20px;margin-top:4px;}

.slide .triggers{position:absolute;z-index:1;width:70%;text-align:center;bottom:10px;height:38px;right:0;left:0;padding:0 0 8px;}
.slide .triggers a{font-size:11px;line-height:12px;color:#000;overflow:hidden;border-radius:1px;-webkit-text-size-adjust:none;float:none;width:62px;height:42px;text-align:center;display:inline-block;background:0;margin:0 3px 0 0;}
.slide .triggers a:hover{text-decoration:none;}
.slide .triggers a img{width:58px;height:38px;border:1px #999 solid;vertical-align:middle;opacity:.6;}
.slide .triggers a.current img{border:2px #2fac00 solid;opacity:1;}

.slide .icon-dot{display:inline-block;position:absolute;bottom:20px;right:10%; }
.slide .icon-dot a{width:12px;height:12px;display:inline-block;background-image:url(../img/nav.png);background-repeat:no-repeat;background-position:0px 0px;overflow:hidden;margin:0 2px;}
.slide .icon-dot a.current{background-position:0px -11px;}

.slide .link-watch{width:30px;height:44px;display:none;position:absolute;top:44%;background:url(../img/arrow.png) no-repeat 0 -57px;filter:alpha(opacity=60);cursor:pointer;}
.slide .link-watch.pre{left:0;}
.slide .link-watch.next{right:30%;background-position:right -57px;}
.slide .link-watch.down{background-position-y:-2px;}


/*应用案例*/
.site-application{padding-bottom: 40px; }
.application-content{margin-top: 60px;}
.application-content-item { position: relative;width: 300px; height: 340px;  border-radius: 10px;margin: 0 auto; margin-bottom: 10px; overflow: hidden; cursor: pointer; transition: all .2s;}
.application-content-item img{width: 100%; height: 100%; transition: all .2s; z-index: 1; position: absolute;}
.application-content-item h4{text-align: center; background: rgba(255,255,255,0.6); height: 100px; line-height: 100px;transition: all .4s;z-index: 6;  font-size: 24px; position: absolute; left: 0; top: 32%; width: 100%;display:block; color: #444; padding-bottom: 4px;}
.application-content-item p{display: block;margin: 0;background: rgba(0, 0,0,0.4); position: absolute; z-index: -1; width: 100%; height: 100%;left: 0;top: 0; transition: all .4s;}
.application-content-item span{z-index: -1; display: inline-block;position: absolute; top: 60px; left: 12px; right: 12px;transition: all .4s;text-indent: 2em; color: white; }
.application-content-item:hover img{transform: scale(1.1);}
.application-content-item:hover{box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);}
.application-content-item:hover h4{ top: 6px; left: 6px; font-size: 16px;color: white;border-bottom: 4px solid white; font-weight:bold;height:30px; line-height: 20px; background: transparent; width: auto;display: inline-block;text-align: left;}
.application-content-item:hover span{z-index: 6;}
.application-content-item:hover p{z-index: 4;}

/*播放视频*/
.video-mask {display: none;position: fixed ;z-index: 9999;left: 0;right: 0;top: 0;bottom: 0;background-color: rgba(0, 0, 0, 0.9);overflow: auto;color: #fff;}
.close-video-mask {cursor: pointer;width: 2rem;position: absolute;right: 3rem;top: 3rem;}
.video-title {padding-top: 1rem;font-size: 30px;line-height: 3;text-align: center;}
.video-container {width: 70%;height: 60%;margin: auto;text-align: center;}
.video-container video{height: 100%;display: inline-block;vertical-align: baseline;}
.video-desc {padding-top: 2rem;width: 70%;text-align: center;font-size: 16px; margin: auto;}
.video-desc p{margin:  0 0 10px; text-align: center;}